<div class="container">
    <div id="titleAndUserInfo" class="row col-md-12">
        <h2 id="titleWishlist" class="left">Whishlist</h2>
        <div class="right">
            <div id="userPicture"></div>
            <div id="userName"></div>
        </div>
    </div>
    <div class="row " id="whishlistcontainer">
        <div class="row col-xs-12">
            <div id="addedContainer" class="row">
                <div id="spinnerWhishlist" class="spinner"></div>
                <div data-bind="foreach: whishlist">
                    <div class="col-md-2 col-sm-4 col-xs-12 whishlistItem">
                        <div class="row">
                            <div data-bind='text: VenueName' class="whishlistVenueName"></div>
                        </div>
                        <div class="row">
                            <button data-bind="click: $root.removeFromWhishlist" type="button" class="buttonAdd">Del</button>
                            <img data-bind="attr:{'src': VenuePictureUrl}" class="whishlistImg" />
                            <div>
                                <img data-bind="attr:{'src': UserPictureUrl}" class="whishlistUserImg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <hr>
    </div>
    <h2>Recent Venues</h2>
    <div id="recentContainer" class="row">
        <div id="spinnerRecent" class="spinner"></div>
        <div data-bind="foreach: recent">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="recentItemContainer">
                    <img data-bind="attr:{'src': VenuePictureUrl}" class="recentVenueImg" />
                    <div class="recentTextContainer">
                        <div data-bind='text: VenueName' class="recentVenueName"></div>
                        <div class="recentData">Description:</div>
                        <div data-bind='text: Description'></div>
                        <div class="recentData">Email:</div>
                        <div data-bind='text: Email'></div>
                        <div class="recentData">Street:</div>
                        <div data-bind='text: Street'></div>
                        <button data-bind="click: $root.addToWhishlist" type="button">Add</button>
                    </div>
                    <div>
                        <img data-bind="attr:{'src': UserPictureUrl}" class="recentUserImg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/whishlist.js")" type="text/javascript"></script>
